* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background: #000;
    color: aqua;
    text-align: center;
}
.container h1 {
    padding-top: 200px !important;
}
.img-cover {
    width: 300px;
    margin: 0 auto !important;
}